
<div *ngIf="arr[i][j]!= null  &&  arr[i][j] != 'invalide'">
   <div class="card-body" *ngIf="arr[i][j].id == arr[i][j+1].id">
      <ul class="list-group">
         <button class="list-group-item-action list-group-item " style="width: 180px;
              height: 300px;">
            <br> <b>Rayon {{arr[i][j].libelle}}</b><br>
            <div class="row" style="align-items: center;">
               <button class="  mb-1 mr-1 btn " (click)="SelectRayon(arr[i][j])">
                  <img src="../../../../assets/icon/Zoom-In-icon.png" width="20" height="20">
               </button>
               <button class=" mb-1 mr-1 btn " (click)="openDialogEditRayon(arr[i][j].id,arr[i][j])">
                  <img src="../../../../assets/icon/edit-icon.png" width="20" height="20">
               </button>
               <button class="  mb-1 mr-1 btn " (click)="supprimerRayon(arr[i][j].id)">
                  <img src="../../../../assets/icon/delete-image-png-6-Transparent-Images-1.png" width="20" height="20">
               </button>
         </button>
      </ul>
   </div>
</div>
<div class="card-body" *ngIf="arr[i][j]!= null  &&  arr[i][j] != 'invalide' && arr[i][j].id == arr[i][j-1].id">

</div>