
 <div class="app-page-title">
    <div class="page-title-wrapper">
       <div class="page-title-heading">
          <div class="page-title-icon">
             <i class="pe-7s-note2 text-success">
             </i>
          </div>
       <h4>Réception</h4>  
       </div>
    </div>
 </div>
 <div class="tab-content">
    <div class="tab-pane tabs-animation fade show active" id="tab-content-0" role="tabpanel">
       <div class="main-card mb-3 card">
          <div class="card-body">
             <ul class="body-tabs body-tabs-layout tabs-animated body-tabs-animated nav">
                <li class="nav-item">
                   <a role="tab" class="nav-link" href="/Menu/WMS-Reception/Lister">
                   <span>Liste Bon Reception</span>
                   </a>
                </li>
                <li class="nav-item">
                   <a role="tab" class="nav-link" href="/Menu/WMS-Reception/Ajouter">
                   <span>Reception Marchandise</span>
                   </a>
                </li>
                <li class="nav-item">
                   <a role="tab" class="nav-link" href="/Menu/WMS-Reception/Rejet">
                   <span>Liste Bon Rejet</span>
                   </a>
                </li> 
             </ul>
             <router-outlet></router-outlet>
          </div>
       </div>
    </div>
    
 </div>
