<h1 mat-dialog-title>Modifier Hall {{hall.id}}</h1>

<div mat-dialog-content>
    <form>
    
        <div class="row">
            <div class="col-md-10">
                <label>Libelle</label>
                <input type="text" class ="form-control" id = "libelle"     [(ngModel)] = "hall.libelle"   name = "libelle">
                </div>
        </div>

        <div class="row">
            <div class="col-md-5">
                <mat-slide-toggle name="manuel" [(ngModel)]="manuel" color="primary"
                    (change)="changedToggle()">Surface manuel</mat-slide-toggle>
            </div>
        </div>

        <div class="form-group" *ngIf="manuel">
            <div class="row">
                <div class="col-md-5">
                    <div class="form-group">
                        <label>Largeur (CM)</label>
                        <input type="number" class ="form-control" id = "largeur"     [(ngModel)]="hall.largeur"   name = "largeur">
                    </div>

                </div>
                <div class="col-md-5">
                    <div class="form-group">
                        <label>Hauteur (CM)</label>
                        <input type="number" class ="form-control" id = "hauteur"     [(ngModel)]="hall.hauteur"   name = "hauteur">
                    </div>
                    
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                        <label>Longeur (CM)</label>
                        <input type="number" class ="form-control" id = "longeur"     [(ngModel)]="hall.longeur"   name = "longeur">
                    </div>
                    
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                        <label>Surface (M<sup>3</sup>)</label>
                        <input type="number" class ="form-control" id = "surface"     [(ngModel)]="hall.surface"   name = "surface">
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group" *ngIf="!manuel">
            <div class="row">
                <div class="col-md-5">
                    <div class="form-group">
                        <label>Largeur (CM)</label>
                        <input type="number" class ="form-control" id = "largeur"  (change)="valuechange($event)"    [(ngModel)]="hall.largeur"   name = "largeur">
                    </div>

                </div>
                <div class="col-md-5">
                    <div class="form-group">
                        <label>Hauteur (CM)</label>
                        <input type="number" class ="form-control" id = "hauteur"    (change)="valuechange($event)"  [(ngModel)]="hall.hauteur"   name = "hauteur">
                    </div>
                    
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                        <label>Longeur (CM)</label>
                        <input type="number" class ="form-control" id = "longeur"    (change)="valuechange($event)"  [(ngModel)]="hall.longeur"   name = "longeur">
                    </div>
                    
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                        <label>Surface (M<sup>3</sup>)</label>
                        <input type="number" class ="form-control" id = "surface"  [disabled]="true"   [(ngModel)]="hall.surface"   name = "surface">
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label><strong>Invalide</strong> </label>
            

             <button class="btn" (click)="OpenZoneInvalide(hall,hall.id)">
                <img src="../../../../assets/icon/invalide.png" width="20" height="20"></button>
                <div class="row">
                    <div class="table-responsive">
                       <table class="mb-0 table">
                            <thead>
                           <tr>
                                <th>X</th>
                               <th>Y</th>
                               <th>Description</th>
                            </tr>
                           </thead>
                           <tbody>
                            <tr  *ngFor = "let zone  of zones_invalide; let i=index">
                               <td>{{zone.ordreX}}</td>
                               <td> {{zone.ordreY}} </td>
                               <td> {{zone.description}} </td>

                            </tr>
                          
                           </tbody>
                       </table>
                   </div>
                
                 </div>
        </div>
        <div class="form-group">
            <label><strong>Reserve</strong> </label>
            <button class="btn" >
                <img src="../../../../assets/icon/reserver.png" width="20" height="20"></button>

                <div class="row">
                    <div class="table-responsive">
                       <table class="mb-0 table">
                            <thead>
                                <tr>
                                    <th>Local</th>
                                    <th>Hall</th>
                                    <th>Reference</th>
                                     <th>Client</th>
        
                                </tr>
                           </thead>
                           <tbody>
                            <tr *ngFor="let emp  of emp_reserver; let i=index">
                                <td> {{emp.halle.local.nom_Local}} </td>
                                <td> {{emp.halle.libelle}} </td>
                                 <td> {{emp.reference}} </td>
                                <td> {{emp.client.nom}} </td>
    
                            </tr>
                          
                           </tbody>
                       </table>
                   </div>
                
                 </div>
        </div>
        <div class="form-group" *ngIf="addColoirShow">
            <div class="card-shadow-primary border mb-3 card card-body border-primary">
                <div class="row">
                    <div class="col-md-11">
                        <h5 class="card-title">Ajouter Couloir
                        </h5>

                    </div>
                    <button (click)="addColoirToggle()" mat-icon-button color="primary"
                        aria-label="Example icon button with a home icon">
                        <mat-icon>close</mat-icon>
                    </button>
                </div>




                <div class="row">
                    <div class="col-md-3">

                        <label>Libelle</label>
                        <input type="text" class="form-control" id="couloirlibelle" [(ngModel)]="couloir.libelle"
                            name="couloirlibelle">

                    </div>
                    <div class="col-md-3">
                            <label>Ordre X</label>
                            <input type="number" class="form-control" id="couloirX" [(ngModel)]="zone.ordreX"
                            name="couloirX">
                          
                    </div>
                    <div class="col-md-3">
                      
                        <label>Ordre Y</label>
                        <input type="number" class="form-control" id="couloirY" [(ngModel)]="zone.ordreY"
                        name="couloirY">
                </div>

                </div>
                <button class="mb-2 mr-2 btn btn-success" (click)="ajouterCouloir()">Valider</button>

            </div>
        </div>
        
    </form>
</div>

<div mat-dialog-actions class="float-right">
    <button class="mb-2 mr-2 btn btn-success"   (click) = "addColoirToggle()">Ajouter Couloir</button>

    <button class="mb-2 mr-2 btn btn-success"   (click) = "onSubmit()">Valider</button>
    <button class="mb-2 mr-2 btn btn-primary" (click)="close()">Fermer</button>

</div>