#carre1 {
    height: 30px;
    width: 30px;
    background: red;
    cursor: pointer;

   }
   #carre2 {
    height: 30px;
    width: 30px;
    background: LightGreen;
    cursor: pointer;

   }
   #depot
   {
    border: gainsboro;
    border-style: solid;
   }
   #carre3 {
    height: 30px;
    width: 30px;
    background: yellow;
    cursor: pointer;

   }
   .un{
    width: 20px;
   }
   .col-size {

     border: gainsboro;
    border-style: solid;

  }
 
 