<h1 mat-dialog-title>Cartographie</h1>

<div mat-dialog-content>
    <div class="row" >

        <div id="depot" class="col col-size">
              <div class="row">
                 <div class="un"></div>
                 Libre <div id="carre2"></div>
                 <div class="un"></div>
                 Encore Disponible <div id="carre3"></div>
                 <div class="un"></div>
                 Plein <div id="carre1"></div>
              </div>
           <h3>Local {{libelleLocal}}</h3>
           <div class="row">
              <div class="col-sm-3" *ngFor="let rayon of rayons;  let i = index ">
                 <div class="card-body">
                    <div>
                       <ul class="list-group">
     
                          <div [ngStyle]="{ 'heigth.cm':rayon.hauteur  }" style="background-color:  #e6eeff"
                             class="list-group-item-action list-group-item "  >
                             <strong>Rayon{{rayon.libelle}}</strong> {{rayon.familleLogistique.libelle}} <br>
     
                             <div class="row" *ngFor="let etage of rayon.etages;  let i = index">
                                <div class="col-sm-12">
                                   <ul class="list-group">
                                      <li style="background-color:  #EDEDED ;" class="list-group-item list-group-item">
                                         <b>Etage{{etage.libelle}} {{etage.sousFamilleLogistique.libelle}}</b>
                                         <div class="row">
                                            <div *ngFor="let emp of etage.positions;  let i = index">
                                               <div>
                                                  <ul class="list-group">
                                                     
                                                     <div (click)="selectPosition(emp)"
                                                        [ngStyle]="{'background':emp.etat === 'Libre' ? 'LightGreen' : emp.etat === 'Disponible'? '#fff44f': 'LightCoral', 'width.px':emp.largeur  }"
                                                        class="list-group-item-action list-group-item">
                                                        {{emp.libelle}}<br>
                                                     </div>
     
                                                  </ul>
                                               </div>
     
                                            </div>
                                         </div>
                                      </li>
                                   </ul>
                                </div>
                                <br><br><br><br>
                             </div>
                          </div>
     
                       </ul>
                    </div>
                 </div>
              </div>
           </div>
        </div>
     </div>
</div>

<div mat-dialog-actions class="float-right">
  
    <button class="mb-2 mr-2 btn btn-primary" (click)="close()">Fermer</button>

</div>