 <div class="row"  *ngFor=" let in of counter(x) ;let i = index">
    <div class="col-md-2" *ngFor=" let is of counter(y) ;let j = index">
       <div class="card-body"   *ngIf="arr[i][j]!= null" >
          <div>
             <ul class="list-group">
                <button class="list-group-item-action list-group-item " style="width: 90px;
            height: 400px;">
                   <br> <b>Rayon {{arr[i][j].libelle}}</b><br> 
                   <div class="row" style="align-items: center;">
                     
                   </div>
                </button>

             </ul>
          </div>
       </div>
    </div>
    
 </div> 


