<div class="row">
    <div class="col-md-3">

        <div class="card-shadow-secondary    mb-3 card card-body " style="background-color: #f7f7f7;">
            <img src="../../assets/banniere/wms-warehouse-management-system-stock-management-hd-png.png" style="position: relative;width: auto;">
            <a  routerLink="/Menu/WMS-Reception"><button type="button" class="btn btn-secondary btn-lg btn-block" >Accéder</button></a>   

         </div>
        <div class="card-shadow-secondary mb-3 card card-body ">
             <img src="../../assets/banniere/inventorymanagement-500-x-400_02.png" style="position: relative;width: auto;">
            <a  routerLink="/Menu/WMS-Stockage"><button type="button" class="btn btn-secondary btn-lg btn-block" >Accéder</button></a>   

        </div>

    </div>
    <div class="col-md-4">
        <div class="card-shadow-secondary   mb-3 card card-body  ">

            <img src="../../assets/banniere/wms.png" width="330" height="200">

        </div>

        <div class="card mb-3 card card-body  " style="background-color: #f0f0ef;">
            <img src="../../assets/banniere/tmmms.png" width="340" height="200">
        </div>
    </div>
    <div class="col-md-4">
        <div class="card-shadow-secondary   mb-3 card card-body  ">
            <img src="../../assets/banniere/small-business-inventory-management.webp" width="390" height="200">

        </div>
        <div class="card-shadow-secondary   mb-3 card card-body  ">
            <img src="../../assets/banniere/Statistiques.png" width="350" height="200">

        </div>

    </div>
</div>